<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("../generals/head") %>
</head>
<body>
    <h1 class="underline">From home page ejs</h1>
    <a href="/news"> to news page</a>
    <p>Commit has been succeded</p>
</body>
</html>